.footer {
  background-color: #333333;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #ffffff;
}

.footer > p {
  font-size: 10px;
}

.icons {
  padding-left: 0;
}

.icons > ul {
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
}

.icons > li {
  display: inline;
}

.icons > li > a {
  color: #ffa200;
  font-size: 36px;
  padding: 20px;
}

.icons > li > a:hover {
  color: #ffffff;
}
